.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "recipe-list recipe-box"
        "footer footer";
}

.header {
    grid-area: header;
    background: red;
}

.header-row {
    display: inline-block;
}

.header-button {
    float: right;
    margin: 20px;
}

.recipe-list {
    grid-area: recipe-list;
}

.recipe-box {
    grid-area: recipe-box;
    border: aqua;
    border-style: double;
    background-color: beige;
}

.footer {
    grid-area: footer;
    background: aqua;
    position: fixed;
    bottom: 0;
    width: 100%;
}

